#video-player {
  color: #fff;
  main {
    margin: 0;
    padding: 0;
    width: 100%;
    @media screen and (min-width: 601px) {
      margin: 0 auto;
    }
  }
  background-color: #000;
  // width: 100%;
  min-height: 100vh;
  // padding-top: 0px;
  // margin-top: -108px;
  @media screen and (min-width: 601px) {
    padding-top: 16px;
    background-color: #3B3B3B;
  }
  #video {
    background-color: #000;
    overflow: hidden;
    // margin: 0 auto;
    width: 100%;
    // height: 141px;
    // padding-top: 50px;
    // padding-right: 20px;
    // margin-bottom: 0px;
    @media screen and (min-width: 601px) {
      width: 640px;
      height: 550px;
      margin: 0 auto;
    }
  }
  #video-controls {
    background-color: #000;
    width: 100%;
    height: 132px;
    margin: 0 auto;
    // padding-top: 0px;
    // margin-top: 0px;
    @media screen and (min-width: 601px) {
      width: 640px;
      margin: 0 auto;
      height: 68px;
    }
    #play-button, #pause-button {
      font-size: 18px;
      position: absolute;
      margin-left: 29px;
      top: 451px;
    }
    #play-button {
      display: block;
    }
    #pause-button {
      display: none;
    }
  }

  #playerVP{

  }

  // #spinner {
  //   border: 16px solid #f3f3f3;
  //   border-radius: 50%;
  //   border-top: 16px solid #3498db;
  //   width: 250px;
  //   height: 250px;
  //   -webkit-animation: spin 1s linear infinite;
  //   animation: spin 1s linear infinite;
  //   margin: auto;
  // }

  // @-webkit-keyframes spin {
  //   0% { -webkit-transform: rotate(0deg); }
  //   100% { -webkit-transform: rotate(360deg); }
  // }

  // @keyframes spin {
  //   0% { transform: rotate(0deg); }
  //   100% { transform: rotate(360deg); }
  // }
}
