#track {
  // border-bottom: 1px solid #151515;
  border-bottom: 1px solid #666;
  // height: 27px;
  height: 54px !important;
  .label {
    height: 26px; 
    margin-bottom: 3px;
  }
  .label div {
    display: inline-block;
  }
  input {
    width: 229px !important;
    // width: 100% !important;
    height: 26px;
    background: #444 !important;
    border: none;
    outline: none;
    color: #fff !important;
    padding: 0px 8px;
    // border: 1px solid yellow !important;
  }
  #track-info {
    position: relative;
    // border:1px solid white;
    height: 54px;
    font-size: 12px;
  }
  #type {
    width: 22px;
    height: 26px !important;
    float: left;
    padding: 5px 0 0 7px;
    // font-size: 15px !important;
    // text-align: center;
  }
  #track-action {
    width: 100%;
    text-align: center;
    // border:1px solid orange;
  }
  #track-action * {
    display: inline-block;
    cursor: pointer;
  }
  #track-action span {
    margin: 0 10px 0 10px;
  }
  #sinewave-container {
    height: 53px;
    span {
      display: inline-block;
      position: absolute;
      background: #333;
      right: 5px;
      bottom: 7px;
      z-index: 3;
      color: #fff;
      font-size: 10px;
    }
  }
  #sinewave {
    position: relative;
    background-image: url("/app/client/build/assets/img/waveform.jpg");
    background-color: #444;
    // border-bottom: 1px solid #151515;
  }
  .fa-circle {
    color: red;
  }
}
