#authoring-tool {
  background-color: #383838;
  color: #fff;
  // min-height: 100vh;
  /* Firefox */
  min-height: -moz-calc(100vh - 54px);
  /* WebKit */
  min-height: -webkit-calc(100vh - 54px);
  /* Opera */
  min-height: -o-calc(100vh - 54px);
  /* Standard */
  min-height: calc(100vh - 54px);
  main {
    width: 400px;
    padding: 0px 8px;
    margin: 0 auto;
    @media screen and (min-width: 993px) {
      margin: 0 auto;
      width: 1024px;
    }
    #video-section {
      background-color: #000;
      width: 640px;
      height: 342px;
    }
    #notes-section {
      background-color: #383838;
      margin-left: 16px;
      width: 352px;
      height: 342px;
    }
  }
}
