$size: 30px;
$gap: 270px;
$count: 6;
$time: 0.45s;
$amount: 40px;

// body, html {
//   height: 100%;
// }
// body {
//   background: #ecf0f1;
//   height: 100%;
//   background-image: linear-gradient(-45deg, #7f8c8d, #ecf0f1, #95a5a6);
//   background-repeat: no-repeat;
// }
.spinner {
  height: 10px;
  width: $count * $size * 2;
  margin: auto;
  padding-left: 40px;
  display: block;
}
.dot {
  float: left;
  height: $size;
  width: $size;
  border-radius: 50%;
  background-color: #000;
  background-image: linear-gradient(rgba(white, 0.3), transparent), radial-gradient(#9894b2, #616183);
  background-position: top center;
  margin: $gap ($size * 0.25);
  animation: bounce $time infinite ease alternate;
  $inc: (($time / $count) * -1) * 1;
  @for $i from 1 through $count {
    &:nth-child(#{$i}) {
      animation-delay: $inc * $i;
    }
  }
}

@keyframes bounce {
  0%{
      transform: translateY(0);
      box-shadow: 0 ($size * 0.25) 1px rgba(mix(black,#616183),0.2);
  }
  100%{
      transform: translateY($amount * -1);
      box-shadow: 0 ($size + ($amount * 2)) 12px rgba(black,0.1);
  }
}
