.spinner2{
  height: 200px;
  position:relative;
  display: block;
}

.spinner2-loader{
  width: 150px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:-85px;
  margin-left:-70px;
}
