#editor {
  .cont {
    width: 225px;
    margin: 0px auto;
    height: 50px;
  }
  background-color: #272727;
  // font-size: 12px;
  color: #eee;
  input::-webkit-input-placeholder{
    color: #666;
  }
  input::-moz-placeholder{
      color: #666;
  }
  input:-moz-placeholder{
      color: #666;
  }

  #timer, #video-audio-track, #video-audio-sinewave, #track-info, #track-sinewave, #add-track, #add-track-space {
    padding: 4px 12px;
  }

  #timeline {
    padding: 4px 0px;
    .w3-left {
      padding-left: 4px;
    }
    .w3-right {
      padding-right: 4px;
    }
  }

  #timeline, #video-audio-sinewave, #track-sinewave, #add-track-space {
    border-left: 1px solid #151515;
  }

  #video-time {
    height: 50px;
    font-size: 28px;
    #timer, #timeline {
      height: 50px;
      text-align: center;
    }
    #timeline {
      font-size: 12px;
    }
  }


  #video-audio-track-row {
    border-top: 1px solid #151515;
  }

  #tracks {
    max-height: 189px;
    overflow: scroll;
    #track {
      border-bottom: 1px solid #151515;
      i:hover {
        cursor: pointer;
      }
      input {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: #888;
        padding: 0px 8px;
      }
      input:focus::-webkit-input-placeholder{
        color: transparent!important;
      }
      input:focus::-moz-placeholder{
        color: transparent!important;
      }
      input:focus:-moz-placeholder{
        color: transparent!important;
      }
      #type {
        position: relative;
        top: 1px;
        width: 15px;
        text-align: center;
        font-size: 10px;
      }
      .fa-circle {
        color: red;
      }
    }
    #add-track-row {
      height: 50px;
      button {
        position: relative;
        top: 8px;
      }
    }

    #add-track-space {
      background-color: #111;
      height: 52px;
    }
  }
}
