#search-page {
  background-color: #fff;
  min-height: 100vh;
  #load-more {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  main {
    width: 416px;
    padding: 0px 8px;
    margin: 0 auto 50px auto;
    @media (min-width:601px){
      width: 601px;
    }
    @media screen and (min-width: 993px) {
      width: 993px;
    }
    #on-yd {
      margin-bottom: 50px;
    }
  }
}
