#spinner-global {
  position: absolute;
  background: #ffffff;
  width: 120px;
  padding: 5px 0 10px 0;
  top: 40%;
  left: 45%;
  display: block;
  display: none;
  z-index: 999;
  text-align: center;
  color: #3f51b5;
}