#notes {
  background-color: #262626;
  height: 100%;
  .w3-card-4 {
    background-color: #000;
    border: none;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .notes-area {
    height: 80%;
    overflow: auto;
    color: #ccc;
    font-size: 14px;
    line-height: 1.4;
    // text-align: justify;
    padding-top: 8px;
  }
  input[type="text"] {
    background: transparent;
    border: none;
  }
  textarea {
    width: 100%;
    resize: none;
    background: transparent;
    border: none;
    outline: none;
  }
  textarea:focus::-webkit-input-placeholder{
    color: transparent!important;
  }
  textarea:focus::-moz-placeholder{
      color: transparent!important;
  }
  textarea:focus:-moz-placeholder{
      color: transparent!important;
  }
}

// header {
//   background-color: #000;
//   height: 50px;
// }
