#video-card {
  background-color: #fff;
  width: 194px;
  padding: 0 8px;
  #card-title-container {
    height: 100px;
    #card-title {
      // max-height: 41px;
      // white-space: nowrap;
      line-height: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; // max nb lines to show
      -webkit-box-orient: vertical;
    }
    #card-author {
      padding-bottom: 24px;
    }
  }
  #card-stats {
    height: 12px;
    // padding-bottom: 8px;
  }
  #card-buttons {
    // margin-bottom: 8px;
  }
  button {
    margin-bottom: 4px;
  }
}
