.sliderRail {
  width: 200px;
  height: 16px;
  border: 1px solid #999999;
  position: relative;
  margin: 0px 3px 0px 3px;
}
.sliderThumb:focus{
  border: 1px solid #000;
  background-color: #00CCCC;
}



.sliderThumb {
  margin: 0px;
  padding: 0px;
  width: 16px;
  height: 16px;
  background: #EEEEEE;
  border: 1px solid #999999;
  position: absolute;
  left: 92px;
}

.floatLeft {
  float:left;
}


/* clearfix */
.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.clearfix {
display: inline-block;
}

html[xmlns] .clearfix {
display: block;
}

* html .clearfix {
height: 1%;
}
