.sliderRail {
  width: 200px;
  height: 8px;
  border: 1px solid #999999;
  position: relative;
  margin: 0px 3px 0px 3px;
  top: 8px;
}
.sliderThumb:focus{
  border: 1px solid #000;
  background-color: #00CCCC;
}



.sliderThumb {
  margin: 0px;
  padding: 0px;
  width: 8px;
  height: 24px;
  background: #EEEEEE;
  border: 1px solid #999999;
  position: absolute;
  top: -8px;
  left: 92px;
}

.floatLeft {
  float:left;
}


/* clearfix */
.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.clearfix {
// display: inline-block;
// margin-top: 16px;
width: 640px;
margin: 16px auto 0px;
position: relative;
// float: left;
// left: 185px;
}

#keyboard-controls {
  position: relative;
  padding-left: 100px;
  margin-left: 100px;
}

html[xmlns] .clearfix {
display: block;
}

* html .clearfix {
height: 1%;
}
