#audio-description-selector {
  width: 300px;
  margin: 16px auto 0px;
  position: relative;
  top: 40px;
  left: 32px;
  color: #fff;
  // float: right;
  @media screen and (min-width: 601px) {
    top: -19px;
    left: 261px;
  }
  #audio-description-selector-header {
    position: relative;
    left: 90px;
    top: 4px;
    font-size: 11px;
    padding-bottom: 8px;
  }
  select {
    text-align-last:center;
    color: white;
    background-color: #000;
    border: 0;
    outline: 1px solid #CCC;
    font-size: 11px;
  }
  select:focus {
    outline-color: #00CCCC;
  }
}
