#audio-description-selector {
  position: absolute;
  // width: 300px;
  // margin: 16px auto 0px;
  // top: 40px;
  right: 16px;
  color: #fff;
  // float: right;
  @media screen and (min-width: 601px) {
    bottom: 13px;
    right: 30px;
  }
  // #audio-description-selector-header {
  //   position: relative;
  //   left: 90px;
  //   top: 4px;
  //   font-size: 11px;
  //   padding-bottom: 8px;
  // }
  select {
    text-align-last:center;
    color: white;
    background-color: #000;
    border: 0;
    outline: 1px solid #CCC;
    font-size: 11px;
    width: calc(100vw - 32px);
    @media screen and (min-width: 601px) {
      width: auto;
    }
  }
  select:focus {
    outline-color: #00CCCC;
  }
}
