#fullscreen-button {
  padding-top: 1px;
  padding-right: 24px;
  float: right;
  button {
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
