body,h1,h2,h3,h4,h5,h6 {font-family: "open sans"}
body {
    height: 100%;
    line-height: 1.8;
    /*background-color: #fff;*/
    padding-top: 58px;
    margin: 0px;
}

#home {
  background-color: #fff;
  .w3-bar .w3-button {
      padding: 16px;
  }
  .w3-row-padding {
    .w3-card-2 {
      .vid-title {
        height: 110px;
      }
      background-color: #fff;
    }
  }
}
