// body,h1,h2,h3,h4,h5,h6 {font-family: "open sans"}

#home {
  min-height: 600px;
  main {
    // creates container for videos
    // width: 90%;
    // margin: 0 auto;
    min-height: 500px;
  }
  button {
    margin-top: 10px;
    margin-bottom: 30px!important;
  }
  background-color: #fff;
  line-height: 1.1;
  h1 {
    padding-top: 50px;
    font-size: 20px;
  }
  h5 {
    font-size: 14px;
    margin-bottom: 3px;
  }
  h6 {
    margin: 0px;
    font-size: 11px;
    color: #555;
    a {
      color: #555;
    }
    a:hover {
      color: #337ab7;
    }
  }
  .w3-bar .w3-button {
    padding: 16px;
  }
  .w3-row-padding {
    .w3-card-2 {
      .vid-title {
        height: 110px;
      }
      background-color: #fff;
    }
  }
}
