#playhead {
  z-index: 1;
  width: 3px;
  position: relative;
  left: 0px;
  // top: -15px;
  #playhead-head {
    width: 2px;
    height: 24px;
    background-color: red;
  }
  #playhead-tail {
    background-color: blue;
    width: 2px;
    // height: 26px;
  }
}
