#navbar {
  position: relative;
  z-index: 20;
  .w3-bar .w3-button {
    padding: 16px;
  }
  #logo {
    height: 54px;
    // line-height: 54px;
    padding: 8px 12px 8px 12px;
  }
}
.upgrade-notice {
  width: 100%;
  padding: 1.25rem 3.75rem;
  text-align: center;
  font-size: 1rem;
  background-color: rgba(209, 231, 222, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.upgrade-icon {
  margin-right: 12px;
}