#logo {
  font-family: 'helvetica';
  height: 40px;
  font-size: 16px;
  font-stretch:extra-condensed;
  .curve {
    height: 50px;
    padding: 5px 1px 5px 4px;
    // border: 1px solid black;
    border-radius: 10px;

  }
}
